<div style="text-align:center">
  <nav class="navbar navbar-expand-lg navbar-light navbar-default">
    <a class="navbar-brand" href="#">BluTracking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/asset">Assets<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logs">Logs<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

